.form_container {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    background-color: rgb(119, 230, 170);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
}

.form_label{
    color: #fff;
    margin-left: -2rem;
    margin-bottom: 2rem;
    background-color: rgb(110, 12, 230);
    padding: 1rem 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.details_cont_1 {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    padding: 0 5rem;
    color: rgb(180, 43, 230);
}

.details_cont_1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.details_cont_1 input{
    border-radius: 2px;
}

.details_cont_2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5rem;
    color: rgb(180, 43, 230);
}

.img{
    margin-left: 3rem;
}

.sex_input_container,.skills_input_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(180, 43, 230);
    margin-bottom: 1rem;
}

.sex_input_container p,.skills_input_container p{
    font-size: 1rem;
    margin: 0 1rem 0 .5rem; 
}

.gender_label,.skills_label{
    margin-bottom: 1rem;
}

.enroll_btn{
    outline: 0;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    margin-top: 2rem;
    background-color: #0a80e1;
}
.clear_btn{
    outline: 0;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    margin-top: 2rem;
    background-color: red;
}

@media screen and (max-width:850px) {
    .details_cont_1 ,.details_cont_2{
        padding: 0 2rem;
    }
    .details_cont_1 input{
        width: 150px;
    }
    .details_cont_1 h1 {
        font-size: 1.5rem;
    }

    .img{
        margin-left: 2rem;
    }
    .gender_label,.skills_label{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:540px){
    .details_cont_1 ,.details_cont_2{
        padding: 0 1rem;
    }

    .details_cont_1 input{
        width: 90px;
    }
    .img{
        margin-left: 1rem;
    }

    .details_cont_1 h1 {
        font-size: 1rem;
    }
    .gender_label,.skills_label{
        font-size: 1rem;
    }
}